.categoryList{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
    font-size: 18px;
}

.categoryList li {
    color:#a58f60;
    cursor: pointer;
}

.categoryList li.selected {
    color:black;
    font-weight: bold;
}

.productList{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.productListItem{
    margin-top:20px;
    width: 200px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    overflow: hidden;
}

.productListItem img{
   width: 200px;
   height:200px;
}

.productInfo{
    padding: 12px;
}

.productCategory{
    font-size: 12px;
    color: #7f8c8d
}

.productName{
    margin-top:8px;
}

.productPrice{
    margin-top: 8px;
    font-weight:bold;
}